{% include "header.html" %}


<!-- Ausgabe der Berge, die empfohlen werden -->

<div class="container">
  <br>
  <h1>Vorschläge für dich</h1>
  <p>In den nachfolgenden Liste kannst du die für dich am geeignetesten Berge sehen. Viel spaß bei deiner Tour!</p>
</div>
<br>
<div class="container">
<ul class="list-group">
        {% for berg in bergliste %}
<!--                <li class="list-group-item">{{ berg }}</li>-->
                <a href="#" class="list-group-item list-group-item-action list-group-item-info">{{ berg }}</a>
        {% endfor %}
</ul>
</div>
{% include "footer.html" %}