{% include "header.html" %}

<!-- Bootstrap navbar mithilfe der Bootstrap Dokumenation erstellt -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
  <a class="navbar-brand" href="nav-logo">PEAK</a>
  <span class="navbar-text">
    Bergtourplaner für Vorarlberg
  </span>
</div>
</nav>

<!-- Einführung was wann in der Webapp überhaupt machen kann (kurze Beschreibung) -->
<div class="container">
  <br>
  <h1>Plane deine Berg Touren in Vorarlberg.</h1>
  <p>Mit der der PEAK Bergapp kannst du ganz einfach deine Tour von zuhause aus planen. Gib einfach deinen Ausgangsort und weitere Attribute ein und erhalte dazu passende Bergtouren.</p>
</div>

<!-- Code für Ausgangsseite mit Eingabe (Hilfe beim Code von http://raspitips.de/flask-webapps-mit-python-erstellen/) -->
<div class="container">
        <form action = "http://localhost:5000/berge" method="POST"> <!-- Daten werden an die url /berge weiter gegeben, um mit den im Formular eingetragenen Daten zu arbeiten -->
          <hr>
          <div class="form-group">
            <label for="eingabe_ort">Ausgangsort</label>
            <input name="ausgangsort" type="ort" class="form-control" id="eingabe_ort" aria-describedby="beschreibung-ort">
            <small id="beschreibung_ort" class="form-text text-muted">Bitte gib deinen Ausgangsort ein</small>
          </div>
          <br>
          <div class="form-group">
            <label for="eingabe_schwierigkeit">Schwierigkeitslevel</label>
            <input name="schwierigkeitslevel" type="schwierigkeit" class="form-control" id="eingabe_schwierigkeit" aria-describedby="beschreibung_schwierigkeit">
            <small id="beschreibung_schwierigkeit" class="form-text text-muted">Bitte gib den Schwierigkeitslevel leicht, mittel oder schwierig angeben</small>
          </div>
          <br>
          <div class="form-group">
            <label for="eingabe_anreise">Anreise</label>
            <input name="anreisemittel" type="anreise" class="form-control" id="eingabe_anreise" aria-describedby="beschreibung_anreise">
            <small id="beschreibung_anreise" class="form-text text-muted">Möchten Sie lieber mit Auto oder mit Öffentlichen Verkehrsmitteln (bitte ÖV angeben) anreisen?</small>
          </div>
          <hr>

          <button type="submit" class="btn btn-primary">Übernehmen</button>
        </form>
</div>

{% include "footer.html" %}
